/* // `sm` applies to x-small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .ml20 {
        margin-left: 20px;
    }
    .ceo-info {
        margin-left: 27%;
        margin-top: 50px;
    }
    .ceo-image img {
        width: 80%;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .ceo-info h1 {
        margin-left: 15px;
    }
    .main-banner .custom-font-size-50 {
        font-size: 14px;
        margin: 0;
    }
    .ceo-info-text:before {
        width: 15px;
        height: 3px;
        left: -30px;
        top: 10px;
    }
    p.about-me-short {
        margin: 10px 0px 10px -20%;
        text-align: justify;
        font-size: 14px;
    }
    /* button responsive*/
    .custom-btn-primary {
        padding: 0px 0px 0px 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: background linear 0.3s;
        font-size: 13px;
    }
    .custom-right {
        width: 35px;
        height: 35px;
        background: var(--primary-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .custom-btn-primary i {
        margin-left: 20px;
    }
    /* heading  */
    /* ----------- font size ------------ */
    .custom-font-size-50 {
        font-size: 26px;
        text-align: center;
    }
    .custom-font-size-2 {
        font-size: 1.3em;
    }
    /* more about me */
    .moreAboutMe {
        padding: 15px 3px;
    }
    .moreAboutMe p {
        font-size: 12px;
    }
    /* button */
    .custom-btn-dark {
        padding: 10px 7px;
    }
    /* font size */
    .custom-font-size-16 {
        font-size: 15px;
    }
    .custom-font-size-24 {
        font-size: 15px;
    }
    /* service section start */
    .service {
        background: #000;
        border-radius: 10px;
        padding: 20px 10px;
    }
    /* hireBanner */
    #hireBanner h1 {
        font-size: 19px;
    }
    .py-120 {
        padding-top: 40px!important;
        padding-bottom: 40px!important;
    }
}


/* // `md` applies to small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {}


/* // `lg` applies to medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .mt50percent {
        margin-top: 0%;
    }
    .mb50percent {
        margin-bottom: 0%;
    }
}


/* // `xl` applies to large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    .mt50percent {
        margin-top: 0%;
    }
    .mb50percent {
        margin-bottom: 0%;
    }
}


/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */

@media (max-width: 1399.98px) {
    .mt50percent {
        margin-top: 0%;
    }
    .mb50percent {
        margin-bottom: 0%;
    }
}